body {
  background-color: #171A21;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

div.container {
  background-color: #222;
  width: 600px;
  margin: 20px auto;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 1em #888;
}

h1, h4 {
  color: #ddd;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1 {
  text-shadow: 3px 3px 0 #000;
}

input[type="text"] {
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #888;
  width: 300px;;
}

input[type="number"] {
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #888;
  width: 50px;
}

input[type="button"] {
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #171A21;
  background-color: #fff;
  color: #000;
  padding: 5px;
}

button {
  font-size: 10px;
  border-radius: 3px;
  border: 1px solid #171A21;
  background-color: #fff;
  color: #000;
  padding: 3px;
}

input[name="fixed-timestamp"] {
  width: 150px;
}

.input, .output, .info {
  text-align: center;
}

.message {
  margin-bottom: 10px;
  color: lightblue;
  display: none;
}

.form-group {
  margin-bottom: 10px;
}

.code {
  font-size: 18px;
  font-family: monospace;
  color: lightgreen;
}

.footer {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #ccc;
}
